.list-post-main {
  margin-left: 50px;
  margin-top: 20px;
}
.post {
  display: flex;
  margin-bottom: 10px;
}
.post-date {
  color: #ff0080;
  padding-right: 15px;
  font-size: 15px;
}
.post-title {
  padding: 0 10px;
  font-size: 15px;
  cursor: pointer;
}
.post-title:hover {
  background: #000000;
  color: #e5fb52;
}
.post-author {
  padding: 5px 2px;
  color: rgba(6, 6, 6, 0.53);
  font-size: 10px;
}

@media (max-width: 600px) {
  .list-post-main {
    margin-left: 25px;
    margin-top: 10px;
  }
  .post {
    display: flex;
    margin-bottom: 10px;
  }
  .post-date {
    color: #ff0080;
    padding-right: 0px;
    font-size: 15px;
  }
  .post-title {
    padding: 0 7px;
    font-size: 15px;
    cursor: pointer;
  }
  .post-title:hover {
    background: #000000;
    color: #e5fb52;
  }
  .post-author {
    display: none;
    padding: 5px 2px;
    color: rgba(6, 6, 6, 0.53);
    font-size: 10px;
  }
}
