.post-container {
  @import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
  font-family: 'Inconsolata', monospace;
  padding-top: 50px;
  max-width: 650px;
  margin: auto;

}
.title {
  text-decoration: none;
  color: $pink;
  font-weight: bold;
  font-size: 25px;
}
.title:hover {
  background: $pink;
  color: $black;
}
.date {
  color: $gray;
  font-size: 15px;
}
.content {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 50px;
  p {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .post-container {
    padding: 0 20px;
  }
}