// Colors
$black: #000000;
$pink: #FF0080;
$gray: #0d09096b;
$dark-gray: #808080;
$white: #FFFFFF;
$yellow-green: #e5fb52;

// Fonts
$font-family: 'Montserrat', sans-serif;

// Box Shadow
$box-shadow-small: 0 5px 10px rgba(0,0,0,0.12);
$box-shadow-medium: 0 8px 30px rgba(0,0,0,0.12);
